.menu {
  border-bottom: 1px solid rgba(#d0d4d8, 0.5);
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu__listLink {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  padding: 24px 16px 20px;
  color: #909090;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
  &:hover {
    color: #4e5665;
    border-bottom: 4px solid #ecb84c;
  }
}

@media (max-width: 780px) {
  .menu__listLink {
    font-size: 13px;
    padding: 15px 10px 10px;
  }
}
