@import "../../App.scss";

.footer {
  padding: 55px 0 33px;
  background-color: #f8f8f8;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

.footer__itemTitle {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #4e5665;
  text-transform: uppercase;
  transition: all 15s ease-in-out;
}

.footer__itemList {
  padding: 0;
}

.footer__itemLink {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 19px;
  display: block;
}

.footer__item {
  width: 172px;
  padding-left: 40px;
  h5 {
    cursor: pointer;
  }
}

.footer__itemBlog {
  width: 300px;
  padding-left: 25px;
  h5 {
    cursor: pointer;
  }
}

.footer__itemCompany {
  width: 300px;
  padding-left: 180px;
  h5 {
    cursor: pointer;
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.footer__toggleDown {
  height: 25px;
  transition: height ease 0.35s;
}

.footer__togleUp {
  height: 0;
  overflow: hidden;
  transition: height ease 0.35s;
}
