@import "../../App.scss";

.photo__slider {
  width: 640px;
  margin: 0 auto;
  overflow: hidden;
}
.photo__sliderLine {
  width: 1920px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.sliderNext {
  border: none;
  width: 40px;
  height: 40px;
  background-color: #ecb84c;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: -250px;
  right: 0;
}
.sliderPrew {
  border: none;
  width: 40px;
  height: 40px;
  background-color: #ecb84c;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: -250px;
  right: -560px;
}

.sliderSmall {
  display: none;
}

@media (max-width: 670px) {
  .photo__slider {
    display: none;
  }
  .sliderSmall {
    display: block;
    text-align: center;
    img {
      width: 340px;
    }
  }
}
